{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div>
            {% for vehicle in insurance.vehicles %}
                <h2 class="mb-4">Vehicle</h2>
                <p>Vehicle VIN: {{ vehicle.vin }}</p>
                <p>Make model year: {{ vehicle.make_model_year }}</p>
                <p>Status: {{ vehicle.status }}</p>
                <div>
                    {% for driver in vehicle.drivers %}
                        <h3>Driver</h3>
                        <p>License number: {{ driver.license_number }}</p>
                        <p>Name: {{ driver.driver_name }}</p>
                        <p>Birthdate: {{ driver.birthdate }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>  
{% endblock content %}