{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            <!-- for safety -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Payment</legend>
                <!-- Payment method -->
                <div class="form-group">
                    {{ form.method.label(class="form-control-label") }}
                    {{ form.method(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <!-- sumbit button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        
        </form>
    </div>
{% endblock content %}